<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Thanh cong</title>
  <style>
    button{
    padding: 7px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
}
  </style>
</head>
<body>
<div align="center">
  <h1>Chúc mừng quý khách đã cập nhập thành công</h1>
<h2>Hãy nhấn nút phía dưới để chọn phòng</h2>

<button onclick="chonphong()">Click me</button>
    </div>
<script>
  function chonphong(){
    location.href = '/chonphong';
}
</script>
</body>
</html>