
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRAINING PAGE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='training.js') }}"></script>

    <style>

</style>
</head>
<body>
<div align="center">
    <br>
    <br>
    <h1>Quý khách vui lòng đợi trong giây lát để chúng tôi có thể mã hóa khuôn mặt của bạn</h1>
    <h2>Chúng ta sẽ tự động đến bước quét mã QR trên CCCD tự động<br>
            một khi hệ thống đã mã hóa thành công</h2>
    </div>

</body>
</html></title>
</head>
<body>

</body>
</html>